numpy==2.4.4
gymnasium==1.2.3
gymnasium-robotics==1.4.2
pybullet==3.2.6
tensorboard==2.20.0
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
